@font-face {
  font-family: "Quicksand";
  src: url("./assets/Fonts/Quicksand-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Quicksand";
  src: url("./assets/Fonts/Quicksand-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Quicksand";
  src: url("./assets/Fonts/Quicksand-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Quicksand";
  src: url("./assets/Fonts/Quicksand-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Quicksand";
  src: url("./assets/Fonts/Quicksand-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  color: #fff;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}
body {
  margin: 0;
  background-color: black;
  font-family: "Quicksand", sans-serif;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
}
.container {
  max-width: 1440px;
  width: 90%;
  margin: auto;
}
.flex {
  display: flex;
}
.fClmn {
  flex-direction: column;
}
.ac {
  align-items: center;
}
.jc {
  justify-content: center;
}
.sb {
  justify-content: space-between;
}
h2 {
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
}
.cta {
  background-color: #eb5310;
  padding: 5px 7px;
  padding-right: 10px;
  border-radius: 100px;
  font-weight: 500;
  width: fit-content;
}
.cta a {
  font-size: 14px;
  font-weight: 600;
}
svg {
  background-color: #fff;
  border-radius: 50%;
  padding: 5px;
  width: 35px;
  height: 35px;
  margin-right: 5px;
}
.cta:hover {
  opacity: 0.8;
  transition: 0.3s ease;
}

.userImages img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #8f8a8a;
}
.userImages img:nth-child(2),
.userImages img:nth-child(3),
.userImages img:nth-child(4) {
  margin-left: -1rem;
}

@media (max-width: 1024px) {
  h2 {
    font-size: 2.5rem;
    line-height: 1;
    font-weight: 700;
  }
}
@media (max-width: 768px) {
}

@media (max-width: 480px) {
  h2 {
    font-size: 2rem;
  }
}
